<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh sách sản phẩm</title>
</head>
<body>
<h1>Danh sách sản phẩm</h1>
<table>
    <thead>
    <tr>
        <th>Tên</th>
        <th>Giá</th>
        <th>Hành động</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td>
            <a th:href="@{/{id}/products(id=${product.id})}">Xem chi tiết</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
